.App {
  text-align: center;
  overflow: scroll;
}

.Header {
  height: 10vh;
  background-color:#61dafb;
  background-color:#282c34;
  background-color:black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  position:fixed;
  top:0;
  z-index: 999;
  width: 100vw;
}

.MainLogo {
  height: 10vh;
  pointer-events: none;
  margin-left: 20px;
}

.MenuItem {
  color:#61dafb;
}

.Section {
  height: 90vh;
  padding-top: 10vh;
}

.SectionHeader {
  font-size: 3rem;
}

.Testimonial {
  height: 20vh;
}





